<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>가족관계증명서</title>
</head>
<body>
<th:block th:include="fragments/heading" />
<table border="1">
    <tr>
        <td colspan="5">가족관계증명서<br/>(발급일:<span th:text="${familyCertificateInfo.getCertificateIssueDate()}"></span>
        증명서확인번호:<span th:text="${familyCertificateInfo.getCertificateConfirmationNumber()}"></span></td>
    </tr>
    <tr>
        <td colspan="2">등록기준지<br/>(본적)</td>
        <td colspan="3" th:text="${familyCertificateInfo.getResident().getRegistrationBaseAddress()}"></td>
    </tr>
    <tr>
        <td>구분</td>
        <td>성명</td>
        <td>출생연월일</td>
        <td>주민등록번호</td>
        <td>성별</td>
    </tr>
    <tr>
       <td>본인</td>
       <td th:text="${familyCertificateInfo.getResident().getName()}"></td>
        <td th:text="${familyCertificateInfo.getResident().getBirthDate()}"></td>
       <td th:text="${familyCertificateInfo.getResident().getResidentRegistrationNumber()}"></td>
       <td th:text="${familyCertificateInfo.getResident().getGenderCode()}"></td>
    </tr>
    <tr th:each="family : ${familyCertificateInfo.getResident().getBaseFamilyRelationships()}">
        <td th:text="${family.getFamilyRelationshipCode()}"></td>
        <td th:text="${family.getFamilyResident().getName()}"></td>
        <td th:text="${family.getFamilyResident().getBirthDate()}"></td>
        <td th:text="${family.getFamilyResident().getResidentRegistrationNumber()}"></td>
        <td th:text="${family.getFamilyResident().getGenderCode()}"></td>
    </tr>
</table>
</body>
</html>