<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>증명서 목록</title>
</head>
<body>
<th:block th:include="fragments/heading" />
<table border="1">
    <thead>
        <th>확인 번호</th>
        <th>증명서 유형 코드</th>
        <th>증명서 발급 일자</th>
    </thead>
    <tbody>
    <tr th:each="certificate:${certificatePage}">
        <td th:text="${certificate.getCertificateConfirmationNumber()}"></td>
        <td th:text="${certificate.getCertificateTypeCode()}"></td>
        <td th:text="${certificate.getCertificateIssueDate()}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>